<!DOCTYPE html>
<html lang="en">
<head>
  <title>DevTips - User</title>
  <%- include('./partials/includes') %>
</head>

<body>
  <%- include('./partials/navbar') %>

  <main style="min-height: 80vh;">

    <div id="list-tips" class="container my-5">

        <div class="row">
          <div class="col-lg-3 offset-half">
            <div class="card shadow-sm">
              <div class="card-header">
                <span id="profile-name">Profile</span>
              </div>
              <img class="m-4 border rounded-circle shadow-md" src="https://avatars.dicebear.com/4.4/api/avataaars/<%= data.id %>.svg">
              <div id="profile-info" class="d-flex flex-column align-items-center mb-4">
                <a href="/user/<%= data.id %> "><h5 id="profile-name"><%= data.name %></h5></a>
                <p class="mb-0">Freelance Web Developer</p>
                <ul class="follow-us nav nav-social">
                  <li><a href="#"><i class="fab fa-lg fa-facebook-f" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-lg fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-lg fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8 pl-3">
            <% if (data.id === user.id) { %>
            <ul class="nav nav-pills nav-usertabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Tips</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Liked</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Bookmarked</a>
              </li>
            </ul>
          <% } %>

            <% for (let tip of tips) { %>
            <div class="tip user position-relative">
              <a href="/user/14"><img class="tip-avatar m-4 bg-white border rounded-circle shadow-sm" width="48" height="48"
                  src="https://avatars.dicebear.com/4.4/api/avataaars/14.svg"></a>
              <div class="tip-icons d-flex flex-column align-items-center">
                <i class="far fa-thumbs-up" style="cursor: pointer" id="like-510"></i><span
                  class="like badge badge-dark mb-2"><%= tip.num_likes %> </span>
                <i class="far fa-bookmark" style="cursor: pointer" id="book-510"></i>
              </div>
              <div class="card shadow-md mb-3">
                <div class="card-header">
                  <a href="/tip/<%= tip.resource_id %> "><%= tip.title %></a>
                </div>
                <div class="card-body" style="min-height: 15em;">
                  <% if (tip.type === 'link') { %>
                  <div class="link">
                    <a href="<%= tip.data %>"><%= tip.description %></a>
                  </div>
                  <% } else if (tip.type === 'image') { %>
                  <div class="image">
                    <img src="<%= tip.data %>" class="mw-100" alt="<%= tip.description %>">
                  </div>
                  <% } else if (tip.type === 'video') { %>
                  <div class="video">
                    <youtube-video controls src="<%= tip.data %>"></youtube-video>
                  </div>
                  <% } else if (tip.type === 'markdown') { %>
                  <div class="markdown">
                    <pre><%= tip.data %></pre>
                    <p><%= tip.description %></p>
                  </div>
                  <% } else if (tip.type === 'code') { %>
                  <div class="code-block">
                    <pre class="code"><%= tip.data %></pre>
                  </div>
                  <p><%= tip.description %></p>
                  <% } %>
                </div>
              </div>
            </div>
          <% } %>
          </div>
        </div>

    </div>
  </main>

  <footer class="bg-white text-muted py-5">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>© Devtips 2020</p>
    </div>
  </footer>

  <%- include('./partials/code-render') %>

</body>

</html>
